<div class="treat">
<video class="video" width="400" controls loop onmouseover="this.play()" onmouseout="this.pause();" controls style="margin: 25px;">
    <source src="../../assets/vid.mp4" type="video/mp4">
  
  </video>

  <video class="video1" width="400"  controls loop onmouseover="this.play()" onmouseout="this.pause();" controls style="margin: 25px;">
    <source src="../../assets/v5.mp4" type="video/mp4">
  
  </video>

  <video class="video1" width="400"  controls loop onmouseover="this.play()" onmouseout="this.pause();" controls style="margin: 25px;">
    <source src="../../assets/vid.mp4" type="video/mp4">
  
  </video>
</div>

