<div class="doctor">
    <div class="col-2 col-3" style="float: left; padding-top: 20px; width:33%">
        <div class="card" style="width: 18rem; border-radius: 60%; border: 0;">
            <img class="card-img-top" src="assets/doc2.png" style="padding-top: 15px;" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Dr.Mansi </p>
            </div>
          </div>
    </div>

    <div class="col-2 col-3"  style="float: left; padding-top: 20px; width:33% ; padding-left: 200px ;">
        <div class="card" style="width: 18rem;border-radius: 60%; border: 0;">
            <img class="card-img-top" src="assets/doc3.png" style="height: 280px;"  alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Dr.Alok </p>
            </div>
          </div>
    </div>


    <div class="col-2 col-3"  style="float: right; padding-top: 20px; width:33%; border-radius: 30px; ">
        <div class="card" style="width: 18rem;border-radius: 60%; border: 0;">
            <img class="card-img-top z" src="assets/doc3.png"  style="height: 280px;"  alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Dr.Pranav</p>
            </div>
          </div>
    </div>

</div>